:root {
    --main-bg-color: #F9F9FA;
    /* --main-border-color: #EDEDF0; firefox hover */ 
    --main-text-color: #1e252b;
    --main-highlight-color: #ef5e4a;
    --main-border-color: rgb(46, 56, 66, 0.5);
  }

body {
    font: normal 18px Verdana, Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin-top: 80px;
    padding: 20px;
}